<form [formGroup]="loginForm" (ngSubmit)="submit()">
  <div class="login-panel">
    <div class="login-form ui-fluid">
      <!-- <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <div class="form-content">
       
      </div>

    </form>-->
      <p-card class="p-card-login">
        <p-header> </p-header>
        <div class="body">
          <mat-form-field class="full-width ">
            <mat-label>Email cím</mat-label>
            <input
              class="full-width"
              matInput
              placeholder="Email"
              formControlName="email"
            />
          </mat-form-field>
          <mat-form-field class="full-width ">
            <mat-label>Jelszó</mat-label>
            <input
              type="password"
              class="full-width"
              matInput
              placeholder="*******"
              formControlName="password"
            />
          </mat-form-field>
        </div>
        <p-footer>
          <div class="body">
            <button
              pButton
              type="submit"
              class=" "
              label="Bejelentkezés"
            ></button>
          </div>
        </p-footer>
      </p-card>
    </div>
  </div>
</form>
